/* app\class.css */
/* يحافظ على ثبات مساحة السكروولبار ويقلل "قفزة" الـ layout */

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

